extends layout

block content
	div.container
		h1 Prodcut details
		div.panel.panel-info
			div.panel-heading # #{product.id}
			div.panel-body
				h3 #{product.name}
				p #{product.product_number}
				p #{product.list_price} $

		a(href="/products") Back to product list